<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - AlejandroProject</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/footer.css" />
        <link rel="stylesheet" href="~/css/title-design.css"/>
        <link rel="stylesheet" href="~/css/background-effect.css"/>
    </head>

    <body data-spy="scroll" data-target=".navbar" data-offset="50">
        <header>
            <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="#"> Alejandro JR </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">  </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#section1"> Sobre mi..</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#section2"> Mis estudios </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#section3"> Mis experiencias </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#section4"> Mis proyectos </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    Section 4
                                </a>
                                <div class="dropdown-menu">
                                <a class="dropdown-item" href="#section41">Link 1</a>
                                <a class="dropdown-item" href="#section42">Link 2</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </header>

        <div class="mb-90">
            <main role="main">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="row w-100">
                <div class="col none"></div>
                <div class="col responsive-col-footer">
                    <strong class="float-right"> Created by Alejandro Jiménez  </strong>
                </div>
                <div class="col d-flex">
                    <div class="responsive-col-footer">
                        <a href="https://es.linkedin.com/in/alejandro-jimenez-regalon" target="_blank">
                        <img src="~/img/footer/linkedin.png" class="mx-2" width="25" alt="Linkedin de Alejandro Jiménez" />
                        </a>
                        <a href="https://github.com/alejimenezgit/" target="_blank">
                            <img src="~/img/footer/github.png" class="mx-2" width="25" alt="Github de Alejandro Jiménez" />
                        </a>
                        <a href="mailto:alejimreg@gmail.com" target="_blank">
                            <img src="~/img/footer/email.png" class="mx-1" width="25" alt="Email de Alejandro Jiménez" />
                        </a>
                        <a href="" target="_blank">
                            <img src="~/img/footer/web.png" class="mx-2" width="25" alt="Web de Alejandro Jiménez" />
                        </a>
                    </div>
                </div>
                <div class="col none"></div>
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>
