
/* ---------------------------- Footer -------------------------*/

.footer {
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #fff !important;
    bottom: 0;
    position: absolute;
}

.footer-created-by-AJimenez {
    width: 100%;
    background-color: #f7f7f7;
    text-align: center;
}

.footer a {
    border-bottom: none;
}


@media (max-width: 600px) {
    .none {
        display: none;
    }

    .responsive-col-footer {
        text-align: center;
        margin: auto;
    }

        .responsive-col-footer > .float-right {
            float: none !important;
        }
}
