
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

/* -------------------------- Navbar --------------------------*/

.navbar {
    top: 0;
    border-width: 0 0 1px;
    border-bottom-width: 1px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 70px !important;
}

    .navbar.scrolled {
        background-color: #000000db !important;
        transition: background-color 200ms linear;
    }


/* --------------------------- Inicio ------------------------*/

.box-incial {
    width: 100%;
}

.img-incial {
    max-height: 900px;
    display: block;
    min-height: 600px;
}

.final-img-incial {
    background-color: #00308F;
}

.home-hero-glow {
    top: 0;
    left: 0;
    max-width: 100%;
}

.box-inside-incial {
    color: white;
    position: absolute;
    top: 15rem;
    width: 50%;
    left: 10%;
    padding: 24px;
    box-shadow: 5px 5px 15px 5px #01ACFF;
    border-radius: 12px;
}

.size-title {
    font-size: 72px !important;
    line-height: 76px !important;
    letter-spacing: -0.03em !important;
    font-weight: 800 !important;
}


.mt-55 {
    margin-top: 55px;
}

.mb-90 {
    margin-bottom: 90px;
}


.w-5 {
    width: 5%;
}

.w-95 {
    width: 95%;
}

.svg-line {
    background-color: black;
    margin: auto;
}

.svg-circle {
    margin: auto;
    color: black;
}

.figura-rara {
    background-color: steelblue;
    height: 200px;
    clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
}


